#chatWindow {
	height: 300px;

	border: 1px solid;
	padding-bottom: 5px;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word; 
}

#messages {
	list-style-type: none; 
	padding-left: 4px;
}

.msgNick {
	color: #337ab7;
}

.prvtNick {
	color: red;
}

#msgForm {
	margin-right: 200px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.asText {
    background:none;
    border:none;
    margin:0;
    padding:0;
    color: #d9534f;
}

.pointer {
	cursor: pointer; 
	cursor: hand;
}

.list {
	padding: 0px;
}

#createRoomInput {
	width: 600px;
}

.input {
	margin-bottom: 2px;
}

.right {
	float: right;
}
