<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<h3>Hi {{currentUser}} - Room {{currentRoom}}</h3>
<div class="col-md-9">
	<!-- Temporary message list, we must make this much cooler brah -->
	<ul id="messages">
		<li ng-repeat="msg in messageHistory">{{msg.nick}}: {{msg.message}}</li>
	</ul>

	<input id="msg" ng-model="nextMessage" name="msg" autocomplete="off" /><button ng-click="sendMsg()">Send</button>
	
</div>
<div class="col-md-3">
	<h4>Ops in this room</h4>
	<div class="well">
		<ul>
			<li ng-repeat="op in ops">{{op}}</li>
		</ul>
	</div>
	<h4>Users in this room</h4>
	<div class="well">	
		<ul>
			<li ng-repeat="user in users">{{user}}</li>
		</ul>
	</div>
</div>

<button class="btn btn-primary" ng-click="partRoom()">Leave Room</button>