<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<h3>Hi {{currentUser}} - Room {{currentRoom}}</h3>
<div class="col-md-9">
	<!-- Temporary message list, we must make this much cooler brah -->
	<div id="chatWindow">
		<ul id="messages">
			<li ng-repeat="msg in messageHistory">
				<span id="msgNick">{{msg.nick}} said: </span><span id="msgMsg">{{msg.message}}</span>
			</li>
		</ul>
	</div>

	<!--<input id="msg" ng-model="nextMessage" name="msg" autocomplete="off" />-->
	<!--<textarea cols="50" rows="50" id="msg" ng-model="nextMessage" name="msg" autocomplete="off" placeholder="Enter message"></textarea>-->
	<div id="msgForm">
		<textarea class="form-control" rows="3" id="msg" ng-model="nextMessage" name="msg" autocomplete="off" placeholder="Enter message"></textarea>
		<button class="btn btn-primary" ng-click="sendMsg()">Send</button>
	</div>
</div>
<div class="col-md-3">
	<h4>Ops in this room</h4>
	<div class="well">
		<ul>
			<li ng-repeat="op in ops">{{op}}</li>
		</ul>
	</div>
	<h4>Users in this room</h4>
	<div class="well">	
		<ul>
			<li ng-repeat="user in users">
				{{user}} 
				<span ng-cloak ng-show="isOp == true">
					<button class="asText">Kick</button>
					<button class="asText">Ban</button>
				</span>
			</li>
		</ul>
	</div>
	<button class="btn btn-primary" ng-click="partRoom()">Leave Room</button>
	
	<div ng-cloak ng-show="isOp == true">
		<input type="text" class="form-control" ng-model="userToKick" >
		<button class="btn btn-alert" ng-click="kickUser()">Kick</button>
	</div>
	
</div>

